.comp-brand {
  .ant-table-thead {
    tr {
      th {
        background: #fff;
      }
    }
  }
  .status {
    color: rgba(255, 203, 0, 1);
    a {
      color: rgba(255, 203, 0, 1);
      text-decoration: underline;
    }
  }
  .status-ready {
    color: #4bbb8b;
    a {
      color: #4bbb8b;
      text-decoration: underline;
    }
  }
}

.comp-brand-overview {
  padding-bottom: 20px;
  text-align: center;
}

.ant-card {
  margin-bottom: 20px !important;
}

.ant-card-head-title {
  vertical-align: middle;
  padding-top: 22px !important;
}

.comp-brand-overview {
  .ant-card {
    margin: 0 20px 0 0 !important;
  }

  .last-card {
    margin-right: 0px !important;
  }
}

.transfer-item-container {
  display: flex;
  flex-direction: row;
  span {
    color: #323232;
    font-size: 15px;
  }
  p {
    color: #666666;
    font-size: 15px;
  }
}
